/* Basic Styles */


/* Header Styles */

#header {
    display: flex;
    justify-content: space-between;
    background-color: black;
    height: 100px;
    margin: 0 auto;
    padding: 0 20px;
}

#logo-header {
    padding: 10px;  
}

/* Hambuger Menu */

.visuallyHidden {
    position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height: 1px; width: 1px; 
    margin: -1px; padding: 0; border: 0; 
}

.hamburger {
    margin: 0 auto;
    margin-top: 30px;
    width: 30px;
    height: 30px;
    position: relative;
}

.hamburger .bar {
    padding: 0;
    width: 30px;
    height: 4px;
    background-color: rgb(255, 255, 255);
    display: block;
    border-radius: 4px;
    transition: all 0.4s ease-in-out;
    position: absolute; 
}

.bar1 {
    top: 0;
}

.bar2, .bar3 {
    top: 13.5px;
}

.bar3 {
    right: 0;
}

.bar4 {
    bottom: 0;
}

.checkbox2:checked + label > .hamburger > .bar1{
    transform: translateX(40px);
    background-color: transparent;
}

.checkbox2:checked + label > .hamburger > .bar2{
    transform: rotate(45deg);
}

.checkbox2:checked + label > .hamburger > .bar3{
    transform: rotate(-45deg);
}

.checkbox2:checked + label > .hamburger > .bar4{
    transform: translateX(-40px);
    background-color: transparent;
}

.nav-links {
    position: absolute;
    top: 80px;
    right: 0px;
    background: black;
    width: 200px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    padding: 50px 50px 50px 10px;
    padding-top: 0;
}

.checkbox2:checked ~ .nav-links {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.nav-links li {
    list-style: none;
    padding-top: 30px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-family: Jura;
    font-size: 18px;
}

/* Hero Section */

#hero-home img {
    width: 100%;
    height: auto;
    display: block;
}


/* Tablet Media Queries */

@media screen and (min-width: 768px) {

    #header {
        justify-content: center;
    }

    .hamburger {
        display: none;
    }

    .nav-links {
        display: flex;
        flex-direction: row;
        gap: 20px;
        position: static;
        opacity: 1;
        visibility: visible;
        transform: none;
        background: none;
    }

    nav {
        margin-left: 40px;
    }

}

/* Desktop Media Queries */

@media screen and (min-width: 1200px) {

}

/* Custom Media Queries */

@media screen and (min-width: px) {

}