/* Basic Styles */

.h2-fullwidth {
    text-align: center;
    font-family: Jura;
    color: white;
    background-color: black;
    padding: 20px;
    font-size: 18px;
}

/* Header Styles */

#header {
    display: flex;
    justify-content: space-between;
    background-color: black;
    height: 100px;
    margin: 0 auto;
    padding: 0 20px;
}

#logo-header {
    padding: 10px; 
}

#insta-header {
    display: none;
}

#twitter-header {
    display: none;
}

#tiktok-header {
    display: none;
}

.social-icons {
    display: flex;
    gap: 15px;
}

/* Hambuger Menu Styles */

.visuallyHidden {
    position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height: 1px; width: 1px; 
    margin: -1px; padding: 0; border: 0; 
}

.hamburger {
    margin: 0 auto;
    margin-top: 30px;
    width: 30px;
    height: 30px;
    position: relative;
}

.hamburger .bar {
    padding: 0;
    width: 30px;
    height: 4px;
    background-color: rgb(255, 255, 255);
    display: block;
    border-radius: 4px;
    transition: all 0.4s ease-in-out;
    position: absolute; 
}

.bar1 {
    top: 0;
}

.bar2, .bar3 {
    top: 13.5px;
}

.bar3 {
    right: 0;
}

.bar4 {
    bottom: 0;
}

.checkbox2:checked + label > .hamburger > .bar1{
    transform: translateX(40px);
    background-color: transparent;
}

.checkbox2:checked + label > .hamburger > .bar2{
    transform: rotate(45deg);
}

.checkbox2:checked + label > .hamburger > .bar3{
    transform: rotate(-45deg);
}

.checkbox2:checked + label > .hamburger > .bar4{
    transform: translateX(-40px);
    background-color: transparent;
}

.nav-links {
    position: absolute;
    top: 84px;
    right: 0px;
    background: black;
    width: 200px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    padding: 50px 50px 50px 10px;
    padding-top: 0;
}

.checkbox2:checked ~ .nav-links {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.nav-links li {
    list-style: none;
    padding-top: 25px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-family: Jura;
    font-size: 18px;
    white-space: nowrap;
}



/* Hero Section Styles */

#zima-product-display {
    max-width: 1200px;
    display: block;
    margin: 0 auto;
}

#btm-img-home {
    text-align: center;
    font-family: Jura;
    color: white;
    background-color: black;
    padding: 20px;
    font-size: 20px;
}

.card {
    width: 176px;
    height: 341px;
    margin: 1rem auto;
    perspective: 1000px;
    cursor: pointer;
    text-align: center;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

.card-front {
    font-family: Sora;
    color: white;
}

#card-front-bottle {
    border: 2px solid black;
    background-color: #FB8400;
}

.card-back {
    color: white;
    transform: rotateY(180deg);
}

#card-back-bottle {
    background-image: url("../images/zima-bottle-orange176.png");
}

#card-front-smallcan {
    border: 2px solid black;
    background-color: #F9ED24;
}

#card-back-smallcan {
    background-image: url("../images/zima-can-small-yellow176.png");
}

#card-front-skinnycan {
    border: 2px solid black;
    background-color: #3AD730;
}

#card-back-skinnycan {
    background-image: url("../images/zima-can-skinny-green176.png");
}

#card-front-kingcan {
    border: 2px solid black;
    background-color: #DC3926;
}

#card-back-kingcan {
    background-image: url("../images/zima-can-king-red176.png");
}


/* Video Section Styles */

#home-video {
    position: relative;
    width: 100%;
    height: 40vh;
    overflow: hidden;
}

#home-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-overlay {
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: black;
    font-family: Jura;
    padding: 10px 20px 10px 20px;
    font-size: 18px;
    border-radius: 10px;
}

.video-overlay a {
    text-decoration: none;
    color: white;
}

/* Products Page Styles */ 

#hero-home {
    max-width: 1200px;
    display: block;
    margin: 0 auto;
}

.product h2 {
    font-family: Sora;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#product1 {
    padding-top: 10px;
    padding-bottom: 20px;
    background: #FB8400;
    background: linear-gradient(135deg,rgba(251, 132, 0, 1) 40%, rgba(255, 255, 255, 1) 50%, rgba(251, 132, 0, 1) 60%);
}

#product1 h2 {
   color: white;
}

.zima-img {
    width: 100%;
    max-width: 270px;
    height: auto;
    margin: 0 auto;
    display: block;
}

.products-buttons {
    margin-top: 10px;
    padding: 10px;
    font-family: Jura;
    color: white;
    border: solid white 2px;
    border-radius: 10px;
    font-size: 16px;
}

.orange-button {
    background-color: #FB8400;
}

.orange-button:hover {
    color: #FB8400;
    background-color: white;
    border: #FB8400 solid 2px;
    font-size: 18px;
    font-weight: bold;
    transition: .5s ease-in;
    cursor: pointer;
}

.color-transition {
    height: 40px;
}

.orange-to-yellow {
    background: linear-gradient(to bottom, #FB8400, #F9ED24);
}

#product2 {
    padding-top: 10px;
    padding-bottom: 20px;
    background: #F9ED24;
    background: linear-gradient(225deg, rgba(249, 237, 36, 1) 40%, rgba(255, 255, 255, 1) 50%, rgba(249, 237, 36, 1) 60%);
}

#product2 h2 {
    color: white;
}

.yellow-button {
    background-color: #F9ED24;
}

.yellow-button:hover {
    color: #F9ED24;
    background-color: white;
    border: #F9ED24 solid 2px;
    font-size: 18px;
    font-weight: bold;
    transition: .5s ease-in;
    cursor: pointer;
}

.yellow-to-green {
    background: linear-gradient(to bottom, #F9ED24, #3AD730);
}

#product3 {
    padding-top: 10px;
    padding-bottom: 20px;
    background: #3AD730;
    background: linear-gradient(135deg, rgba(58, 215, 48, 1) 40%, rgba(255, 255, 255, 1) 50%, rgba(58, 215, 48, 1) 60%);
}

#product3 h2 {
    color: white;
}

.green-button {
    background-color: #3AD730;
}

.green-button:hover {
    color: #3AD730;
    background-color: white;
    border: #3AD730 solid 2px;
    font-size: 18px;
    font-weight: bold;
    transition: .5s ease-in;
    cursor: pointer;
}

.green-to-red {
    background: linear-gradient(to bottom, #3AD730, #DC3926);
}

#product4 {
    padding-top: 10px;
    padding-bottom: 20px;
    background: #DC3926;
    background: linear-gradient(225deg, rgba(220, 57, 38, 1) 40%, rgba(255, 255, 255, 1) 50%, rgba(220, 57, 38, 1) 60%);
}

#product4 h2 {
    color: white;
}

.red-button {
    background-color: #DC3926;
}

.red-button:hover {
    color: #DC3926;
    background-color: white;
    border: #DC3926 solid 2px;
    font-size: 18px;
    font-weight: bold;
    transition: .5s ease-in;
    cursor: pointer;
}

.red-to-pink {
    background: linear-gradient(to bottom, #DC3926, #EF4D89);
}

#product5 {
    padding-top: 10px;
    padding-bottom: 20px;
    background: #EF4D89;
    background: linear-gradient(135deg, rgba(239, 77, 137, 1) 40%, rgba(255, 255, 255, 1) 50%, rgba(239, 77, 137, 1) 60%);
}

#product5 h2 {
    color: white;
}

#zima-bottle-pink {
    width: 100%;
}

.pink-button {
    background-color: #EF4D89;
}

.pink-button:hover {
    color: #EF4D89;
    background-color: white;
    border: #EF4D89 solid 2px;
    font-size: 18px;
    font-weight: bold;
    transition: .5s ease-in;
    cursor: pointer;
}

/* About Us Page Styles */

#hero-bottles {
    display: block;
    margin: 0 auto;
}

#were-back h2 {
    border-bottom: solid black 2px;
    margin-bottom: 10px;
    padding-top: 20px;
    font-family: Jura;
    font-size: 20px;
    text-align: center;
}

#were-back p {
    font-family: Sora;
    font-size: 14px;
    padding-bottom: 20px;
    padding-top: 20px;
}

#hero-bottles-btm {
    display: block;
    margin: 0 auto;
}

#img-btn {
    position: relative;
    overflow: hidden;
}

#bottles-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-family: Jura;
}

#bottles-overlay a {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 10px 20px 10px 20px;
    font-size: 18px;
    border-radius: 15px;
}

#questions h2 {
    border-bottom: solid black 2px;
    margin-bottom: 10px;
    padding-top: 20px;
    font-family: Jura;
    font-size: 20px;
    text-align: center;
}

#questions p {
    font-family: Sora;
    font-size: 14px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#btn-wereback {
    font-family: Jura;
    font-size: 18px;
    background-color:black;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

#btn-wereback:hover {
    border: solid black 2px;
    background-color: white;
    color: black;
}

#btn-contact {
    font-family: Jura;
    font-size: 18px;
    background-color:black;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

#btn-contact:hover {
    border: solid black 2px;
    background-color: white;
    color: black;
}

.hidden-form {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.hidden-form.open {
    max-height: 500px;
}

#contact-form form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: Sora;
}

#contact-form input, #contact-form textarea {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid black;
}

#contact-form button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-family: Jura;
    margin-bottom: 20px;
    font-size: 18px;
}

#contact-form button:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
}

/* Footer Styles */

#footer-main {
    background-color: black;
    height: 300px;
}

#logo-footer {
    padding-top: 30px;
    padding-left: 20px;
    height: 110px;
}

#nav-footer li {
    padding-top: 20px;
    font-family: Jura;
    font-size: 18px;
}

#nav-footer li a {
    text-decoration: none;
    color: white;
}

/* Custom Media Queries */

@media screen and (min-width: px) {

}

/* Tablet Media Queries */

@media screen and (min-width: 768px) {

    #header {
        justify-content: flex-start;
    }

    #insta-header, #twitter-header, #tiktok-header {
        display: block;
        height: 40px;
    }

    .hamburger {
        display: none;
    }

    .nav-links {
        display: flex;
        flex-direction: row;
        gap: 30px;
        position: static;
        opacity: 1;
        visibility: visible;
        transform: none;
        background: none;
    }

    .nav-links a {
        font-size: 22px;
    }

    #nav-header {
        margin-left: 40px;
    }

    #logo-footer {
        height: 130px;
    }

    #footer-main {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #nav-footer ul {
        display: flex;
        gap: 30px;
    }

    #product-display h2 {
        font-size: 24px;
    }

}

/* Desktop Media Queries */

@media screen and (min-width: 1200px) {

}